
{% extends "base.html" %}
{% load static %}
{% block content %}

<br>
<div class="container-md"><!-- D7100 -->
   <div class="row">

      
      <div class="col-xxl-6 me-md-6  " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/7100.JPG' %}" class="img-fluid">
      </div>
      

      <div class="col-xxl-6 me-md-6 " style="padding-left: 5%; padding-right: 0%;">
         <p class="text-center " style="margin-top: 20%;"> La 7100 la utilizzo principalmente per la caccia fotografica per via del suo formato dx 
            per le specifiche: <a href="https://it.wikipedia.org/wiki/Nikon_D7100">Detagli nikon 7100</a>
         </p>
      </div>
 
   </div>
</div>
<br>
<div class="container-md"><!-- 14mm -->
   <div class="row">

      
      <div class="col-xxl-6 me-md-6  " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/14.JPG' %}" class="img-fluid">
      </div>
      

      <div class="col-xxl-6 me-md-6 " style="padding-left: 5%; padding-right: 0%;">
         <p class="text-center " style="margin-top: 20%;">Il 14mm f2.8 è un grandangolo eccezionale perfetto per fare foto a panorami e ambienti chiusi, con il diaframma a 2.8 lo utilizzo anche quando devo fare foto in luoghi con poca luminosità o se devo utilizzare tempi molto lungi 
         </p>
      </div>
 
   </div>
</div>
<br>
<div class="container-md"><!-- 35mm -->
   <div class="row">

      
      <div class="col-xxl-6 me-md-6  " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/35.JPG' %}" class="img-fluid">
      </div>
      

      <div class="col-xxl-6 me-md-6 " style="padding-left: 5%; padding-right: 0%;">
         <p class="text-center " style="margin-top: 20%;">Il 35 mm F 2 è un obbiettivo famosissimo perfetto per fare pratica è comodo da trasportare per le sue ridotte dimensioni quindi perfetto da utilizzare in luoghi molto affollati o da portare in valigia senza occupare troppo spazzo.
         </p>
      </div>
 
   </div>
</div>
<br>
<div class="container-md"><!-- 24-120mm -->
   <div class="row">

      
      <div class="col-xxl-6 me-md-6  " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/120-24.JPG' %}" class="img-fluid">
      </div>
      

      <div class="col-xxl-6 me-md-6 " style="padding-left: 5%; padding-right: 0%;">
         <p class="text-center " style="margin-top: 20%;">
            Il 24-120mm F 4 è un obbiettivo multifunzione capace di fare delle buone inquadrature e grandangoli è dotato di stabilizzatore molto comodo se vengono fatte foto in posti molto dinamici pero e più grande e pesante .
         </p>
      </div>
 
   </div>
</div>

<br>
<div class="container-md"><!--300mm-->
   <div class="row">

      
      <div class="col-xxl-6 me-md-6  " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/300.JPG' %}" class="img-fluid">
      </div>
      

      <div class="col-xxl-6 me-md-6 " style="padding-left: 5%; padding-right: 0%;">
         <p class="text-center " style="margin-top: 20%;">Il 300mm F 4 è un obbiettivo vecchissimo, può sembrare un suo difetto ma in realtà è il suo punto di forza perché è fatto totalmente in acciaio e molto peso pero è indistruttibile e con il diaframma di F 4 è perfetto per appostanti particolarmente buono per fare foto ha piccoli volatili 
         </p>
      </div>
 
   </div>
</div>

<br>
<div class="container-md"><!--150-600-->
   <div class="row">

      
      <div class="col-xxl-6 me-md-6  " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/600_8742.JPG' %}" class="img-fluid">
      </div>
      

      <div class="col-xxl-6 me-md-6 " style="padding-left: 5%; padding-right: 0%;">
         <p class="text-center " style="margin-top: 20%;">Il 150-600 mm F 6.2 è l’obbiettivo che uso di più nella caccia fotografica munito di stabilizzatore e la lunghezza focale di 600mm mi permette di rimanere a distanza dal soggetto e allo steso tempo scattare foto incredibili pero è molto pesante ed è obbligatorio usare tempi più piccoli non meno di 1/500 di secondo oppure è molto facile che la foto venga mossa.
         </p>
      </div>
 
   </div>
</div>


<br>
<div class="container-md"><!-- nikon D600 -->
   <div class="row">

      
      <div class="col-xxl-6 me-md-6  " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/600.JPG' %}" class="img-fluid">
      </div>
      

      <div class="col-xxl-6 me-md-6 " style="padding-left: 5%; padding-right: 0%;">
         <p class="text-center " style="margin-top: 20%;">La Nikon D600 è la mia macchina tutto fare per il suo formato fx è comoda da portarsi in vacanza  e per i grandangoli. per maggiori informazioni : <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjz6sPWwsr-AhVZX_EDHWXLAuQQFnoECDAQAQ&url=https%3A%2F%2Fit.wikipedia.org%2Fwiki%2FNikon_D600&usg=AOvVaw3zsprMI4HyWKGQN4dS4ZlV">dettagli </a>
         </p>
      </div>
 
   </div>
</div>
<br>






{% endblock content %}



