{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
   <div class="row ">

         <div class="col-xxl-6 me-md-6 " style="padding-left: 0%; padding-right: 0%;">
           <img src="{% static 'img_app/forome2.jpeg' %}" class="img-fluid">
         </div>
 
 
       
         <div class="col-xxl-6 me-md-6 " style="padding-left: 0%; padding-right: 0%;">
             <p class="text-center " style="margin-top: 20%;">Mi chiamo Andrea picchi sono un appassionato di fotografia ed ho creato questo sito web per condividere le mie avventure e ovviamente i miei scatti che possono essere usati da chiunque 
                   vivo in provincia di Pisa quindi la maggior parte delle foto fatte saranno fatte nel territorio pisano ed in tutta la toscana 
             </p>
         </div>
       

         <div class="col-xxl-6 me-md-6 " style="padding-left: 2%; padding-right: 2%;">
             <p class="text-center " style="margin-top: 20%;">personalmente preferisco la natura come protagonista dei miei scatti la trovo rilassane ed interessante, alcuni direbbero che sono un po esagerato 
             </p>
         </div>



         <div class="col-xxl-6 me-md-6 " style="padding-left: 0%; padding-right: 0%;">
            <img src="{% static 'img_app/fotome1.jpeg' %}" class="img-fluid">
         </div>
 
   </div>
 </div>



{% endblock content %}

