{% extends "base.html" %}
{% block content %}

<!-- copertina del post -->
<div class="position-relative">
  <div class="container-fluid bg-dark text-white ">
    <img src="{{ post.cover.url }}"class="img-fluid">
      
            <div class="position-absolute top-50 start-50 translate-middle-x">
            <h1 class="text-center"> {{ post.title }}</h1>
            </div>
      
  </div>
</div>

<br>
<!-- descrizione -->
<div class="container-fluid">

  <div class="container-fluid">
    <div class="row">
      <div class="col-3 my-col">
      
       
      </div>
      <div class="col-6 my-col">
        <p> {{ post.descriptions }} </p>
      </div>
      <div class="col-3 my-col">
        
      </div>
    </div>
  </div>


  <br>

  


  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col-1"></div>
     <!-- img per ForeignKey -->
    {% for image in post.IMGG.all %}
      
      <div class="col m-2 ">
        <div class="card">
          <img src="{{image.img.url}}" class="card-img-top" alt="...">
          <a href="{{image.get_absolute_url}}" class="btn btn-primary text-center">vedi immagine</a>
          
        </div>
      </div>
  
      {% endfor %}
      
  </div>
  <br>

</div>






{% endblock content %}



